# Linear Regression
---

In [1]:
# import library
import numpy as np 
import pandas as pd

from collections import defaultdict
from sklearn.metrics import mean_squared_error

# import scratch
from ml_from_scratch.linear_model import LinearRegression

c:\users\aiforesee\appdata\local\programs\python\python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\aiforesee\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
c:\users\aiforesee\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# Simple Dataset
---

In [2]:
result = defaultdict(list)

X = np.array([[1, 1], [1, 2], [2, 2], [2, 3], [3, 3], [3, 4], [4, 4]])
y = np.dot(X, np.array([2, 3])) + 4

dfs = pd.DataFrame(X, y).reset_index()
dfs.columns = ['y', 'X1', 'X2']
dfs

    y  X1  X2
0   9   1   1
1  12   1   2
2  14   2   2
3  17   2   3
4  19   3   3
5  22   3   4
6  24   4   4

In [3]:
# solver = default (direct)

reg = LinearRegression()
reg.fit(X, y)

result['Solver'].append('Default')
result['Weight'].append(reg.weight_)
result['Intercept'].append(reg.intercept_)
result['MSE'].append(mean_squared_error(y, reg.predict(X)))

pd.DataFrame(result)

    Solver                                   Weight  Intercept           MSE
0  Default  [1.9999999999999956, 2.999999999999981]        4.0  6.052141e-27

In [4]:
# solver = 'direct'

reg_direct = LinearRegression(solver='direct')
reg_direct.fit(X, y)

result['Solver'].append('Direct')
result['Weight'].append(reg_direct.weight_)
result['Intercept'].append(reg_direct.intercept_)
result['MSE'].append(mean_squared_error(y, reg_direct.predict(X)))

pd.DataFrame(result)

    Solver                                   Weight  Intercept           MSE
0  Default  [1.9999999999999956, 2.999999999999981]        4.0  6.052141e-27
1   Direct  [1.9999999999999956, 2.999999999999981]        4.0  6.052141e-27

In [5]:
# solver = 'gradient'

reg_gradient = LinearRegression(solver='gradient')
reg_gradient.fit(X, y)

result['Solver'].append('Gradient')
result['Weight'].append(reg_gradient.weight_)
result['Intercept'].append(reg_gradient.intercept_)
result['MSE'].append(mean_squared_error(y, reg_gradient.predict(X)))

pd.DataFrame(result)

     Solver                                   Weight  Intercept           MSE
0   Default  [1.9999999999999956, 2.999999999999981]    4.00000  6.052141e-27
1    Direct  [1.9999999999999956, 2.999999999999981]    4.00000  6.052141e-27
2  Gradient   [1.999932171082563, 3.000097272996497]    3.99988  2.661906e-09

***Saat solver tidak didefinisikan, metode default solver yang digunakan yaitu Direct Solution***

Dengan menggunakan dataset yang sederhana, metode Gradient Descent dengan hyperparameter default memikili solusi yang cukup mirip dengan metode Direct Solution

# Inflation - BI Rate
---

In [6]:
df = pd.read_csv("inflation_birate.csv")
df

           date  inflation  birate
0    2009-01-01       9.17    8.75
1    2009-02-01       8.60    8.25
2    2009-03-01       7.92    7.75
3    2009-04-01       7.31    7.50
4    2009-05-01       6.04    7.25
..          ...        ...     ...
173  2023-06-01       3.52    5.75
174  2023-07-01       3.08    5.75
175  2023-08-01       3.27    5.75
176  2023-09-01       2.28    5.75
177  2023-10-01       2.56    6.00

[178 rows x 3 columns]

## Check the Data Quality
---

In [7]:
# cek missing value
df.isna().sum()

date         0
inflation    0
birate       0
dtype: int64

In [8]:
pd.DataFrame(df.isna().sum()).rename(columns = {0:"missing value"})

           missing value
date                   0
inflation              0
birate                 0

In [9]:
# cek duplicate data
df.duplicated(['date']).sum()

0

In [10]:
# data shape
df.shape

(178, 3)

## Prediction - Weight and Intercept
---

In [11]:
result = defaultdict(list)

X = np.array(df[['birate']])
y = np.array(list(df['inflation']))

In [12]:
# solver = 'direct'

reg_direct = LinearRegression(solver='direct')
reg_direct.fit(X, y)

print('coef\t\t:', reg_direct.weight_)
print('intercept\t:', reg_direct.intercept_)
print('mse\t\t:', mean_squared_error(y, reg_direct.predict(X)))

coef		: [1.04404311]
intercept	: -1.6944617248260394
mse		: 1.710897760187725

In [13]:
# solver = 'gradient'

alpha = 0.1
iter_ = 100
tol_ = 1e-3
result['Learning Rate'].append(alpha)
result['Max Iteration'].append(iter_)
result['Tolerance'].append(tol_)

reg_gradient = LinearRegression(solver='gradient',
                       learning_rate=alpha,
                       max_iter=iter_,
                       tol=tol_)
reg_gradient.fit(X, y)

result['Weight'].append(reg_gradient.weight_)
result['Intercept'].append(reg_gradient.intercept_)
result['MSE'].append(mean_squared_error(y, reg_gradient.predict(X)))

pd.DataFrame(result)

,Learning Rate,Max Iteration,Tolerance,Weight,Intercept,MSE
0,0.1,100,0.001,[-1.2951697552309672e+41],-2.140257e+40,6.177402e+83

In [14]:
# solver = 'gradient'

alpha = 0.01
iter_ = 100
tol_ = 1e-3
result['Learning Rate'].append(alpha)
result['Max Iteration'].append(iter_)
result['Tolerance'].append(tol_)

reg_gradient = LinearRegression(solver='gradient',
                       learning_rate=alpha,
                       max_iter=iter_,
                       tol=tol_)
reg_gradient.fit(X, y)

result['Weight'].append(reg_gradient.weight_)
result['Intercept'].append(reg_gradient.intercept_)
result['MSE'].append(mean_squared_error(y, reg_gradient.predict(X)))

pd.DataFrame(result)

,Learning Rate,Max Iteration,Tolerance,Weight,Intercept,MSE
0,0.10,100,0.001,[-1.2951697552309672e+41],-2.140257e+40,6.177402e+83
1,0.01,100,0.001,[0.7579253337984887],3.697102e-02,1.860033e+00

In [15]:
# solver = 'gradient'

alpha = 0.01
iter_ = 1000
tol_ = 1e-3
result['Learning Rate'].append(alpha)
result['Max Iteration'].append(iter_)
result['Tolerance'].append(tol_)

reg_gradient = LinearRegression(solver='gradient',
                       learning_rate=alpha,
                       max_iter=iter_,
                       tol=tol_)
reg_gradient.fit(X, y)

result['Weight'].append(reg_gradient.weight_)
result['Intercept'].append(reg_gradient.intercept_)
result['MSE'].append(mean_squared_error(y, reg_gradient.predict(X)))

pd.DataFrame(result)

,Learning Rate,Max Iteration,Tolerance,Weight,Intercept,MSE
0,0.10,100,0.001,[-1.2951697552309672e+41],-2.140257e+40,6.177402e+83
1,0.01,100,0.001,[0.7579253337984887],3.697102e-02,1.860033e+00
2,0.01,1000,0.001,[0.8590212483668656],-5.748077e-01,1.773262e+00

In [16]:
# solver = 'gradient'

alpha = 0.01
iter_ = 1000
tol_ = 1e-6
result['Learning Rate'].append(alpha)
result['Max Iteration'].append(iter_)
result['Tolerance'].append(tol_)

reg_gradient = LinearRegression(solver='gradient',
                       learning_rate=alpha,
                       max_iter=iter_,
                       tol=tol_)
reg_gradient.fit(X, y)

result['Weight'].append(reg_gradient.weight_)
result['Intercept'].append(reg_gradient.intercept_)
result['MSE'].append(mean_squared_error(y, reg_gradient.predict(X)))

pd.DataFrame(result)

,Learning Rate,Max Iteration,Tolerance,Weight,Intercept,MSE
0,0.10,100,0.001000,[-1.2951697552309672e+41],-2.140257e+40,6.177402e+83
1,0.01,100,0.001000,[0.7579253337984887],3.697102e-02,1.860033e+00
2,0.01,1000,0.001000,[0.8590212483668656],-5.748077e-01,1.773262e+00
3,0.01,1000,0.000001,[0.8590212483668656],-5.748077e-01,1.773262e+00

In [17]:
# solver = 'gradient'

alpha = 0.001
iter_ = 100000
tol_ = 1e-6
result['Learning Rate'].append(alpha)
result['Max Iteration'].append(iter_)
result['Tolerance'].append(tol_)

reg_gradient = LinearRegression(solver='gradient',
                       learning_rate=alpha,
                       max_iter=iter_,
                       tol=tol_)
reg_gradient.fit(X, y)

result['Weight'].append(reg_gradient.weight_)
result['Intercept'].append(reg_gradient.intercept_)
result['MSE'].append(mean_squared_error(y, reg_gradient.predict(X)))

pd.DataFrame(result)

,Learning Rate,Max Iteration,Tolerance,Weight,Intercept,MSE
0,0.100,100,0.001000,[-1.2951697552309672e+41],-2.140257e+40,6.177402e+83
1,0.010,100,0.001000,[0.7579253337984887],3.697102e-02,1.860033e+00
2,0.010,1000,0.001000,[0.8590212483668656],-5.748077e-01,1.773262e+00
3,0.010,1000,0.000001,[0.8590212483668656],-5.748077e-01,1.773262e+00
4,0.001,100000,0.000001,[1.0416746630018967],-1.680129e+00,1.710908e+00

Semakin besar maximum iteration serta semakin kecil learning rate dan tolerance pada metode Gradient Descent, akan menghasilkan MSR (Mean Squared Error) yang semakin kecil. Hal ini menunjukkan hyperparameter sangat berpengaruh dalam menentukan titik optimal pada solusi iteratif gradient descent.